<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.superclovers.springboot.mapper.InsertMapper">
    <!-- 新增商品数据 -->
    <!--Integer addnew(InsertEntity data)-->
    <insert id="addnew" useGeneratedKeys="true" keyProperty="pid">
        INSERT INTO goods (
            pid, pname, pprices
        ) VALUE (
            #{pid}, #{pname}, #{pprices}
        )
    </insert>
</mapper>